[submodule "web/julhair"]
	path = web/julhair
	url = https://Gantron@bitbucket.org/Gantron/julhair.git
[submodule "web/shyslut"]
	path = web/shyslut
	url = https://Gantron@bitbucket.org/Gantron/shyslut.git
[submodule "web/julknight"]
	path = web/julknight
	url = git@bitbucket.org:Gantron/julknight.git
[submodule "web/dragon"]
	path = web/dragon
	url = git@bitbucket.org:Gantron/dragon.git
[submodule "web/sugar"]
	path = web/sugar
	url = git@bitbucket.org:Gantron/sugar.git
[submodule "web/valkyra"]
	path = web/valkyra
	url = git@bitbucket.org:Gantron/valkyra.git
[submodule "web/utopia"]
	path = web/utopia
	url = git@bitbucket.org:Gantron/utopia.git
[submodule "web/escort"]
	path = web/escort
	url = git@bitbucket.org:Gantron/escort.git
[submodule "web/dryad"]
	path = web/dryad
	url = git@bitbucket.org:Gantron/dryad.git
[submodule "web/Fax"]
	path = web/Fax
	url = git@bitbucket.org:Gantron/fax.git
[submodule "web/masturfest"]
	path = web/masturfest
	url = ssh://git@bitbucket.org/Gantron/masturfest.git
[submodule "web/janfriend"]
	path = web/janfriend
	url = git@bitbucket.org:Gantron/janfriend.git
[submodule "web/pitgirls"]
	path = web/pitgirls
	url = git@bitbucket.org:Gantron/pitgirls.git
[submodule "web/lezcock"]
	path = web/lezcock
	url = git@bitbucket.org:Gantron/lezcock.git
[submodule "web/assrip"]
	path = web/assrip
	url = git@bitbucket.org:Gantron/./assrip.git
[submodule "web/swiss"]
	path = web/swiss
	url = git@bitbucket.org:Gantron/./swiss.git
[submodule "web/unwrap"]
	path = web/unwrap
	url = git@bitbucket.org:Gantron/unwrap.git
[submodule "web/werewolf"]
	path = web/werewolf
	url = git@bitbucket.org:Gantron/werewolf.git
[submodule "web/mermaid"]
	path = web/mermaid
	url = git@bitbucket.org:Gantron/mermaid.git
[submodule "web/theprince"]
	path = web/theprince
	url = git@bitbucket.org:Gantron/theprince.git
[submodule "web/avrilalone"]
	path = web/avrilalone
	url = git@bitbucket.org:Gantron/avrilalone.git
[submodule "web/elsvirg"]
	path = web/elsvirg
	url = git@bitbucket.org:Gantron/elsvirg.git
[submodule "web/finthing"]
	path = web/finthing
	url = git@bitbucket.org:Gantron/finthing.git
[submodule "web/julpun"]
	path = web/julpun
	url = git@bitbucket.org:Gantron/julpun.git
[submodule "web/assface"]
	path = web/assface
	url = git@bitbucket.org:Gantron/assface.git
[submodule "web/valherb"]
	path = web/valherb
	url = git@bitbucket.org:Gantron/valherb.git
[submodule "web/avril2"]
	path = web/avril2
	url = git@bitbucket.org:Gantron/avril2.git
[submodule "web/asianslave"]
	path = web/asianslave
	url = git@bitbucket.org:Gantron/asianslave.git
[submodule "web/postjul"]
	path = web/postjul
	url = git@bitbucket.org:Gantron/postjul.git
[submodule "web/vulna2"]
	path = web/vulna2
	url = git@bitbucket.org:Gantron/vulna2.git
[submodule "web/Exham"]
	path = web/Exham
	url = git@bitbucket.org:Gantron/Exham.git
[submodule "web/vulna"]
	path = web/vulna
	url = git@bitbucket.org:Gantron/vulna.git
[submodule "web/tamdom"]
	path = web/tamdom
	url = git@bitbucket.org:Gantron/tamdom.git
[submodule "web/furry"]
	path = web/furry
	url = git@bitbucket.org:Gantron/furry.git
[submodule "web/slowanal"]
	path = web/slowanal
	url = git@bitbucket.org:Gantron/slowanal.git
[submodule "web/zara"]
	path = web/zara
	url = git@bitbucket.org:Gantron/zara.git
[submodule "web/farwiz"]
	path = web/farwiz
	url = git@bitbucket.org:Gantron/farwiz.git
[submodule "web/oilbrush"]
	path = web/oilbrush
	url = git@bitbucket.org:Gantron/oilbrush.git
[submodule "web/galavant"]
	path = web/galavant
	url = git@bitbucket.org:Gantron/galavant.git
[submodule "web/cristina"]
	path = web/cristina
	url = git@bitbucket.org:Gantron/cristina.git
[submodule "web/gnostic"]
	path = web/gnostic
	url = git@bitbucket.org:Gantron/gnostic.git
[submodule "web/lea"]
	path = web/lea
	url = git@bitbucket.org:Gantron/lea.git
[submodule "web/lea2"]
	path = web/lea2
	url = git@bitbucket.org:Gantron/lea2.git
[submodule "web/elsfriend"]
	path = web/elsfriend
	url = git@bitbucket.org:Gantron/elsfriend.git
[submodule "web/elsvirg2"]
	path = web/elsvirg2
	url = git@bitbucket.org:Gantron/elsvirg2.git
[submodule "web/avrilbetty"]
	path = web/avrilbetty
	url = git@bitbucket.org:Gantron/avrilbetty.git
[submodule "web/postslav"]
	path = web/postslav
	url = git@bitbucket.org:Gantron/postslav.git
[submodule "web/postdrag"]
	path = web/postdrag
	url = git@bitbucket.org:Gantron/postdrag.git
[submodule "web/cabal"]
	path = web/cabal
	url = git@bitbucket.org:Gantron/cabal.git
[submodule "web/rough"]
	path = web/rough
	url = git@bitbucket.org:Gantron/rough.git
[submodule "web/handatter"]
	path = web/handatter
	url = git@bitbucket.org:Gantron/handatter.git
[submodule "web/juldog"]
	path = web/juldog
	url = git@bitbucket.org:Gantron/juldog.git
[submodule "web/tamtrick"]
	path = web/tamtrick
	url = git@bitbucket.org:Gantron/tamtrick.git
[submodule "web/girltoy"]
	path = web/girltoy
	url = git@bitbucket.org:Gantron/girltoy.git
[submodule "web/trintro"]
	path = web/trintro
	url = git@bitbucket.org:Gantron/trintro.git
[submodule "web/glitter"]
	path = web/glitter
	url = git@bitbucket.org:Gantron/glitter.git
[submodule "web/ambush"]
	path = web/ambush
	url = git@bitbucket.org:Gantron/ambush.git
[submodule "web/tutor"]
	path = web/tutor
	url = git@bitbucket.org:Gantron/tutor.git
[submodule "web/elsfree"]
	path = web/elsfree
	url = git@bitbucket.org:Gantron/elsfree.git
[submodule "web/thiefwar"]
	path = web/thiefwar
	url = git@bitbucket.org:Gantron/thiefwar.git
[submodule "web/wingirl"]
	path = web/wingirl
	url = git@bitbucket.org:Gantron/wingirl.git
[submodule "web/distant"]
	path = web/distant
	url = git@bitbucket.org:Gantron/distant.git
[submodule "web/elsvirg3"]
	path = web/elsvirg3
	url = git@bitbucket.org:Gantron/elsvirg3.git
[submodule "web/elsvirg4"]
	path = web/elsvirg4
	url = git@bitbucket.org:Gantron/elsvirg4.git
[submodule "web/mirmad"]
	path = web/mirmad
	url = git@bitbucket.org:Gantron/mirmad.git
[submodule "web/laura"]
	path = web/laura
	url = git@bitbucket.org:Gantron/laura.git
[submodule "web/elsdeep"]
	path = web/elsdeep
	url = git@bitbucket.org:Gantron/elsdeep.git
[submodule "web/kittyhunt"]
	path = web/kittyhunt
	url = git@bitbucket.org:Gantron/kittyhunt.git
[submodule "web/littleknight"]
	path = web/littleknight
	url = git@bitbucket.org:Gantron/littleknight.git
[submodule "web/doone"]
	path = web/doone
	url = git@bitbucket.org:Gantron/doone.git
[submodule "web/tongasm"]
	path = web/tongasm
	url = git@bitbucket.org:Gantron/tongasm.git
[submodule "web/nightly"]
	path = web/nightly
	url = git@bitbucket.org:Gantron/nightly.git
[submodule "ilylana"]
	path = ilylana
	url = git@bitbucket.org:Gantron/ilylana.git
[submodule "mask"]
	path = mask
	url = git@bitbucket.org:Gantron/mask.git
[submodule "muriel"]
	path = muriel
	url = git@bitbucket.org:Gantron/muriel.git
[submodule "nyx"]
	path = nyx
	url = git@bitbucket.org:Gantron/nyx.git
[submodule "randomsex"]
	path = randomsex
	url = git@bitbucket.org:Gantron/randomsex.git
[submodule "squeen"]
	path = squeen
	url = git@bitbucket.org:Gantron/squeen.git
[submodule "tamcock"]
	path = tamcock
	url = git@bitbucket.org:Gantron/tamcock.git
