[submodule "web/julhair"]
	path = web/julhair
	url = https://Gantron@bitbucket.org/Gantron/julhair.git
[submodule "web/shyslut"]
	path = web/shyslut
	url = https://Gantron@bitbucket.org/Gantron/shyslut.git
[submodule "web/julknight"]
	path = web/julknight
	url = git@bitbucket.org:Gantron/julknight.git
[submodule "web/dragon"]
	path = web/dragon
	url = git@bitbucket.org:Gantron/dragon.git
