[submodule "web/julhair"]
	path = web/julhair
	url = https://Gantron@bitbucket.org/Gantron/julhair.git
[submodule "web/shyslut"]
	path = web/shyslut
	url = https://Gantron@bitbucket.org/Gantron/shyslut.git
[submodule "web/julknight"]
	path = web/julknight
	url = git@bitbucket.org:Gantron/julknight.git
[submodule "web/dragon"]
	path = web/dragon
	url = git@bitbucket.org:Gantron/dragon.git
[submodule "web/sugar"]
	path = web/sugar
	url = git@bitbucket.org:Gantron/sugar.git
[submodule "web/valkyra"]
	path = web/valkyra
	url = git@bitbucket.org:Gantron/valkyra.git
[submodule "web/utopia"]
	path = web/utopia
	url = git@bitbucket.org:Gantron/utopia.git
[submodule "web/escort"]
	path = web/escort
	url = git@bitbucket.org:Gantron/escort.git
[submodule "web/dryad"]
	path = web/dryad
	url = git@bitbucket.org:Gantron/dryad.git
[submodule "web/Fax"]
	path = web/Fax
	url = git@bitbucket.org:Gantron/fax.git
[submodule "web/masturfest"]
	path = web/masturfest
	url = ssh://git@bitbucket.org/Gantron/masturfest.git
[submodule "web/muriel"]
	path = web/muriel
	url = git@bitbucket.org:Gantron/muriel.git
[submodule "web/squeen"]
	path = web/squeen
	url = git@bitbucket.org:Gantron/squeen.git
[submodule "web/nyx"]
	path = web/nyx
	url = git@bitbucket.org:Gantron/nyx.git
[submodule "web/ilylana"]
	path = web/ilylana
	url = git@bitbucket.org:Gantron/ilylana.git
[submodule "web/scout1"]
	path = web/scout1
	url = git@bitbucket.org:Gantron/scout1.git
